/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");

@font-face
{
font-family: "Fixedsys";
src: url('../font/fixedsys.ttf');
}

@font-face
{
font-family: "murder";
src: url('../font/youmurdererbb_reg.ttf');
}

@font-face
{
	font-family: "neosan";
	src:url('../font/neo-sans-pro-225.otf');
	
}
.clear{
	clear: both;
}
body
{
	font-family: "neosan";
	
	background:#666;
	text-align:center;
	vertical-align:middle;	
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width:100%;
	height:auto;
	margin:0;
	padding:0;
}
.applogo{
	background-image:url(../img/specapp@3x.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;
	
	position:absolute;
	top:50px;
	width:100%;
	height:44px;
	}

.copyright{
	font-family:"neosan";
	font-size:14px;
	text-shadow:2px 2px 3px black;
	color:white;
	position:absolute;
	width:100%;
	bottom:5px;
	text-align:center;
	}

/* Grid
********************************************************************* */  
.container {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.column, .columns {
	width: 100%;
	float: left;
	box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
.container {
	width: auto;
    padding: 0;
    margin: 0 auto;
}
}

/* For devices larger than 550px */
@media (min-width: 550px) {
.container {
	width: 80%;
}
.column,  .columns {
	margin-left: 4%;
}
.column:first-child,  .columns:first-child {
	margin-left: 0;
}
.one.column,  .one.columns {
	width: 4.66666666667%;
}
.two.columns {
	width: 13.3333333333%;
}
.three.columns {
	width: 22%;
}
.four.columns {
	width: 30.6666666667%;
}
.five.columns {
	width: 39.3333333333%;
}
.six.columns {
	width: 48%;
}
.seven.columns {
	width: 56.6666666667%;
}
.eight.columns {
	width: 65.3333333333%;
}
.nine.columns {
	width: 74.0%;
}
.ten.columns {
	width: 82.6666666667%;
}
.eleven.columns {
	width: 91.3333333333%;
}
.twelve.columns {
	width: 100%;
	margin-left: 0;
}
.one-third.column {
	width: 30.6666666667%;
}
.two-thirds.column {
	width: 65.3333333333%;
}
.one-half.column {
	width: 48%;
}
/* Offsets */
.offset-by-one.column,  .offset-by-one.columns {
	margin-left: 8.66666666667%;
}
.offset-by-two.column,  .offset-by-two.columns {
	margin-left: 17.3333333333%;
}
.offset-by-three.column,  .offset-by-three.columns {
	margin-left: 26%;
}
.offset-by-four.column,  .offset-by-four.columns {
	margin-left: 34.6666666667%;
}
.offset-by-five.column,  .offset-by-five.columns {
	margin-left: 43.3333333333%;
}
.offset-by-six.column,  .offset-by-six.columns {
	margin-left: 52%;
}
.offset-by-seven.column,  .offset-by-seven.columns {
	margin-left: 60.6666666667%;
}
.offset-by-eight.column,  .offset-by-eight.columns {
	margin-left: 69.3333333333%;
}
.offset-by-nine.column,  .offset-by-nine.columns {
	margin-left: 78.0%;
}
.offset-by-ten.column,  .offset-by-ten.columns {
	margin-left: 86.6666666667%;
}
.offset-by-eleven.column,  .offset-by-eleven.columns {
	margin-left: 95.3333333333%;
}
.offset-by-one-third.column,  .offset-by-one-third.columns {
	margin-left: 34.6666666667%;
}
.offset-by-two-thirds.column,  .offset-by-two-thirds.columns {
	margin-left: 69.3333333333%;
}
.offset-by-one-half.column,  .offset-by-one-half.columns {
	margin-left: 52%;
}
}
/* Typography
********************************************************************* */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 300;
}
h1 {
	font-size: 4.0rem;
	line-height: 1.2;
	letter-spacing: -.1rem;
}
h2 {
	font-size: 3.6rem;
	line-height: 1.25;
	letter-spacing: -.1rem;
}
h3 {
	font-size: 3.0rem;
	line-height: 1.3;
	letter-spacing: -.1rem;
}
h4 {
	font-size: 2.4rem;
	line-height: 1.35;
	letter-spacing: -.08rem;
}
h5 {
	font-size: 1.8rem;
	line-height: 1.5;
	letter-spacing: -.05rem;
}
h6 {
	font-size: 1.5rem;
	line-height: 1.6;
	letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
h1 {
	font-size: 5.0rem;
}
h2 {
	font-size: 4.2rem;
}
h3 {
	font-size: 3.6rem;
}
h4 {
	font-size: 3.0rem;
}
h5 {
	font-size: 2.4rem;
}
h6 {
	font-size: 1.5rem;
}
}
p {
	margin-top: 0;
}
/* Links
********************************************************************* */
a {
	color: #1EAEDB;
}
a:hover {
	color: #0FA0CE;
}
/* Header Section
********************************************************************* */


header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
 width: 100%%;
	height: 100vh;
	background: #8766FF;
	background: -moz-linear-gradient(-45deg, #8766FF 0%, #7857EB 100%);
	background: -webkit-linear-gradient(-45deg, #8766FF 0%, #7857EB 100%));
	background: linear-gradient(-45deg, #8766FF 0%, #7857EB 100%));
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8766FF', endColorstr='#7857EB', GradientType=1 );
}
.title {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	padding: 2rem;
	max-width: 960px;
	text-align: center;
}
.title.spes {
	background: url(../img/apple-touch-startup.png) no-repeat center center;
    background-size: 414px auto;
    height: 100%;
    width: 100%;
}
.title .smallsep {
	background: #fff;
	height: 2px;
	width: 70px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.title h1 {
	font-size: 80px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 0.85;
	margin-bottom: 28px;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}
.title h2 {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 50px;
}

@media only screen and (max-height: 700px) {
.title h1 {
	font-size: 80px;
}
}
.title p {
	max-width: 600px;
	margin: 0 auto;
	line-height: 150%;
}

@media only screen and (max-width: 500px) {
.title h1 {
	font-size: 65px;
}
}
.title .icon {
	color: #FFFFFF;
	font-size: 50px;
}
.main_nav {
	position: fixed;
    top: 0px;
    max-height: 42px;
    z-index: 999;
    width: 100%;
    padding-top: 17px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding-bottom: 6px;
}

@media only screen and (max-width: 766px) {
.main_nav {
	padding-top: 0;
}
}
.open-nav {
	max-height: 400px !important;
}
.sticky {
	background-color: #8766FF;
	opacity: 1;
	top: 0px;
}
nav {
	width: 100%;
	margin-top: 5px;
}

@media only screen and (max-width: 766px) {
nav {
	width: 100%;
}
}
nav ul {
	list-style: none;
	overflow: hidden;
	text-align: center;
}

@media only screen and (max-width: 766px) {
nav ul {
	padding-top: 0px;
	margin-bottom: 22px;
	text-align: center;
	width: 100%;
}
}
nav ul li {
	display: inline-block;
	margin-left: 35px;
	line-height: 1.5;
	letter-spacing: 1px;
}

@media only screen and (max-width: 766px) {
nav ul li {
	width: 100%;
	padding: 7px 0;
	margin: 0;
}
nav ul li:first-child {
	margin-top: 70px;
}
}
nav ul a {
	text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    color: #FFF;
}
nav ul a:hover {
	color: #CFCFCF;
}
.mobile-toggle {
	cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 12px;
    top: 7px;
    width: auto;
}

@media only screen and (max-width: 766px) {
.mobile-toggle {
	display: block;
}
}
.mobile-toggle span {
	width: 22px;
    height: 3px;
    margin-bottom: 5px;
    background: #FFF;
    border-radius: 12px;
    display: block;
}
.scroll-down {
	position: absolute;
    left: 45%;
    bottom: 35%;
    display: block;
    text-align: center;
    font-size: 75px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 35px;
    height: 35px;
    border-bottom: 10px solid #fff;
    border-right: 10px solid #fff;
    z-index: 9;
    -webkit-transform: translate(-50%, 0%) rotate(
45deg
);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(
45deg
);
    -webkit-animation: fade_move_down 2s ease-in-out infinite;
    -moz-animation: fade_move_down 2s ease-in-out infinite;
    animation: fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
 0% {
-webkit-transform:translate(0, -10px) rotate(45deg);
opacity: 0;
}
 50% {
opacity: 1;
}
 100% {
-webkit-transform:translate(0, 10px) rotate(45deg);
opacity: 0;
}
}
@-moz-keyframes fade_move_down {
 0% {
-moz-transform:translate(0, -10px) rotate(45deg);
opacity: 0;
}
 50% {
opacity: 1;
}
 100% {
-moz-transform:translate(0, 10px) rotate(45deg);
opacity: 0;
}
}
@keyframes fade_move_down {
 0% {
transform:translate(0, -10px) rotate(45deg);
opacity: 0;
}
 50% {
opacity: 1;
}
 100% {
transform:translate(0, 10px) rotate(45deg);
opacity: 0;
}
}
/* dashboard Section
********************************************************************* */

#dashboard{
	padding: 60px 0 50px 0;
    height: 100%;
    display: block;
    background-color: #8766FF;
    overflow: hidden;
}
#dashboard a{
	color:#FFF;
}


.hello{
	font-size: 16pt;
    color: #02DAAF;
    line-height: 20pt;
    text-align: left;
    padding: 0 15px 5px;
}

.hello span{
	color:#FFF;
}

/* newmedication Section
********************************************************************* */
#newmedication,#done {
	padding: 60px 0 50px 0;
    height: 100%;
    display: block;
    background-color: #FFF;
    overflow: hidden;
}
#newmedication .icon {
	font-size: 26px;
}
/* yourmedication Section
********************************************************************* */
#yourmedication {
	padding: 60px 0 100px 0;
	background-color: #F5F5F5;
}
.progressBar {
	margin-bottom: 26px;
	margin-bottom: 1.66em;
}
.progressBar h4 {
	font-size: 16px;
	text-transform: none;
	margin-bottom: 7px;
	margin-bottom: .33em;
}
.progressBarContainer {
	width: 100%;
	height: 8px;
	background: #E1E1E1;
	overflow: hidden;
}
.progressBarValue {
	height: 8px;
	float: left;
	background: #e55d87; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
}
.value-00 {
	width: 0;
}
.value-10 {
	width: 10%;
}
.value-20 {
	width: 20%;
}
.value-30 {
	width: 30%;
}
.value-40 {
	width: 40%;
}
.value-50 {
	width: 50%;
}
.value-60 {
	width: 60%;
}
.value-70 {
	width: 70%;
}
.value-80 {
	width: 80%;
}
.value-90 {
	width: 90%;
}
.value-100 {
	width: 100%;
}
/* release Section
********************************************************************* */
#release {
	padding: 60px 0 50px 0;
    height: 100%;
    display: block;
    background-color: #8766FF;
    overflow: hidden;
}
.image {
	background-color: #5a5a5a;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	transition: .5s;
}
.image:hover {
	opacity: 0.6;
	transition: .3s;
	background-image: url(../images/hoverbg.png);
	background-repeat: no-repeat;
	background-position: center;
}

/* Testimonial Section
********************************************************************* */
#testimonial {
	background-color: #F5F5F5;
	padding: 100px 0 100px 0;
}
.quoteLoop {
	height: auto;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.quote {
	margin: 10px 30px;
	height: inherit;
	top: 0px;
	display: none;
	text-align: center;
}
/* Contact Section
********************************************************************* */
#contact {
	padding: 100px 0 100px 0;
}
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
	height: 38px;
	padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: #F5F5F5;
	border: none;
	box-shadow: none;
	box-sizing: border-box;
	border-radius: 0;
	outline: none;
}
textarea {
	min-height: 250px;
}
input[type="submit"] {
	
	display: inline-block;
	height: 44px;
	padding: 0 20px;
	color: #344763;
	text-align: center;
	font-size: 18px;
	font-family: "neosan";
	
	line-height: 38px;
	
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background:url(../img/buttonbg@3x.png) repeat-x;
	border-radius: 10px;
	border: 0;
	cursor: pointer;
	box-sizing: border-box;
	
	width: 77%;
	margin: 6px auto;
	
	position: absolute;
    bottom: 12px;
    left: 10px;
    right: 10px;

}
input[type="submit"]:hover {
	background: #e55d87;
	text-decoration: none;
	color: #FFF;
}
/* Footer Section
********************************************************************* */
footer {
	min-height: 120px;
	padding: 40px 0 40px 0;
	background: #e55d87;
	background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55d87', endColorstr='#5fc3e4', GradientType=1 );
	box-sizing: border-box;
}
footer p {
	color: #FFFFFF;
	margin: 20px 0 0 0;
}
.socialIcons {
	font-size: 34px;
	color: rgba(255, 255, 255, 0.7);
}
/* Lists
********************************************************************* */
ul {
	list-style: circle inside;
}
ol {
	list-style: decimal inside;
}
ol, ul {
	padding-left: 0;
	margin-top: 0;
}
ul ul, ul ol, ol ol, ol ul {
	margin: 1.5rem 0 1.5rem 3rem;
	font-size: 90%;
}
li {
	margin-bottom: 1rem;
}
/* Spacing
********************************************************************* */
button, .button {
	margin-bottom: 1rem;
}
input, textarea, select, fieldset {
	margin-bottom: 1.5rem;
}
pre, blockquote, dl, figure, table, p, ul, ol, form {
	margin-bottom: 2.5rem;
}
/* Utilities
********************************************************************* */
.u-full-width {
	width: 100%;
	box-sizing: border-box;
}
.u-max-full-width {
	max-width: 100%;
	box-sizing: border-box;
}
.u-pull-right {
	float: right;
}
.u-pull-left {
	float: left;
}
/* Clearing
********************************************************************* */
.container:after, .row:after, .u-cf {
	content: "";
	display: table;
	clear: both;
}
/* Misc
********************************************************************* */

.icon {
	padding-right: 10px;
	color: #e55d87;
}
.block {
	width: 70px;
	height: 2px;
	background: #e55d87; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
	margin-bottom: 50px;
}
.speslogo {
	background-image: url(../img/speslogo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    padding: 5px;
    height: 32px;
    width: auto;
    margin-top: -20px;
}

.usericon{
	background-image: url(../img/yami@3x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    padding: 5px;
    height: 100px;
    width: auto;
    margin: 9px;
}

.releasebutton{
	background-image: url("../img/releasebtn.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    padding: 5px;
    height: 120px;
    width: auto;
    margin: 9px;
}

.releasebutton:hover,
.releasebutton:focus{
	background-image: url("../img/releasebtnhover.png");
    
}

.buttonicon {
    padding: 5px;
    height: auto;
    width: auto;
    margin: 9px;
    margin-top: -105px;
}
.btn {
	background-image: url(../img/circle@3x.png);
    background-repeat: no-repeat;
    background-position: center 36px;
    background-size: 55px auto;
    padding: 5px;
    height: 90px;
    width: 25%;
    font-size: 14px;
    color: #FFF;
}
.btn:hover, .btn:focus {
	background-image: url(../img/circlehover_1.png);
  
}
.btn.left { float: left;
    text-align: right;
    background-position: right 36px;
}
.btn.right {float: right;
    text-align: left;
    background-position: left 36px;}


.btn.left .timer {
	text-align: center;
    font-size: 12px;
    margin: 21px 7px 10px 0px;
    float: right;
    width: 34px;
    height: 40px;
}

.btn.right .timer {
    text-align: center;
    font-size: 12px;
    margin: 21px 0px 10px 7px;
    float: left;
    width: 34px;
    height: 40px;
}
.dot {
    background-image: url(../img/dotted.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin: 0 0 10px 0;
    height: 5px;
    width: auto;
}
.line {
    background-image: url(../img/line@3x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin: 0 10px 10px ;
    height: 5px;
    width: auto;
}
.list {
	    background-color: #FFF;
    padding: 18px 24px;
    height: auto;
    width: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    min-height: 410px;
	
}
.list .button {
background-color: #552088;
    background-image: url(../img/button-icon@3x.png);
    background-repeat: no-repeat;
    background-size: 75px auto;
    background-position: center 10px;
    border-radius: 10px;
    padding: 44px 5px 10px 10px;
    height: auto;
    min-height: 46px;
    width: 76px;
    color: #FFF;
    font-size: 13px;
    display: inline-block;
    float: left;
    margin-right: 1px;
    text-align: left;
    border-bottom:3px solid #DDD;
}
.list .button .big{font-size:16px;}
.list .button.edit{background-color: #FC804B;}
.list .button.release{background-color: #07A0FD;}


.list .button:hover, .list .button:focus{
	background-color: #EEE;
	border-bottom:1px solid #DDD;
	box-shadow: 1px 1px 4px #999;
	color:#000;
	cursor: pointer;
	
}
.listcube{ 
padding: 0;
    display: flex;
    text-align: center;
    height: auto;
    margin: 0 0 10px 0;
}
.listcube .cube:last-child{
	 margin: 0 0 0px 0;
}
.listcube .cube {
	    background-color: #D1E1F0;
    background-image: url(../img/cubebtn@3x.png);
    background-repeat: no-repeat;
    background-size: 73px auto;
    background-position: center 10px;
    border-radius: 10px;
    padding: 66px 10px 10px 10px;
    height: auto;
    min-height: 22px;
    width: 100%;
    color: #344763;
    font-size: 16px;
    display: inline-block;
    margin: 0 10px 0 0;
	border-bottom: 6px solid #96A5B2;
    cursor: pointer;
}

.listcube.second  .cube { background-color: #E0E0E0;}
.listcube.third  .cube { background-color: #98DED7;}

.list .cube:hover,
.list .cube:focus{
	 background-image: url(../img/drug.png);
	background-color: #B5CEE8;
	background-size: 50px auto;
	 font-size: 18px;
	border-bottom: 2px solid #96A5B2;
}

.blocktitle {
	    font-size: 22px;
    color: #8766FF;
    background-image: url(../img/button@3x.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 33px auto;
    height: auto;
    width: auto;
    padding-top: 12px;
    padding-right: 45px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 0 10px 0 0;
}

.subtitle {
	    font-size: 22px;
    color: #8766FF;
   
    height: auto;
    width: auto;
	padding: 10px;
    margin: 90px 0 0px;
}
.mediationname {
	    font-size: 32px;
    color: #344763;
   
    height: auto;
    width: auto;
	padding: 6px;
}
.script {
	    font-size: 14px;
    color: #86888A;
   
    height: auto;
    width: auto;
	padding: 6px;
}


.doneprocess{
	background-image: url(../img/done@3x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    padding: 10px;
    height: 160px;
    width: auto;
    margin: 10px;
}

.contentlist {
    background-color: #FFF;
    padding: 13px;
    height: 600px;
    width: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.item {
	background-color: #8766ff;
    background-image: url(../img/dot@3x.png);
    background-repeat: no-repeat;
    background-position: 382px 8px;
    background-size: 6px auto;
    padding: 10px 12px;
    height: auto;
    width: auto;
    border-radius: 10px;
    color: #FFF;
    text-align: left;
	font-size: 16px;
	box-shadow: 1px 1px 3px #754EA0l;
	margin-bottom: 10px;
}


.item.editlist {
	background-color: #754EA0;
    background-image: url(../img/dot@3x.png);
    background-repeat: no-repeat;
    background-position: 382px 8px;
    background-size: 6px auto;
    padding: 10px 12px;
    height: auto;
    width: auto;
    border-radius: 10px;
    color: #FFF;
    text-align: left;
	font-size: 13px;
	line-height: 18px;
	box-shadow: 1px 1px 3px #754EA0l;
	margin-bottom: 10px;
	cursor: pointer;
}
.item label {
	padding: 0;
	margin: 0;
	display: block;
}

.item.editlist:hover,
.item.editlist:focus{
	background-color: #D1E1F0;
	color: #344763;
	
}



.item.editlist label {
	color:#BB8EFF;
	font-size: 18px;
	line-height: 22px;
}

.item.editlist:hover label,
.item.editlist:focus label{
	
	color: #344763;
	
}
.item input {
	    background: none;
    border: none;
    color: #BB8EFF;
    font-size: 22px;
    margin:8px 6px 6px 6px;
    display: block;
	height: 23px;
    padding: 0;
	text-transform: capitalize;
	width: 95%;
}

/*
button select
*/

/* ===== Actual Styles ===== */

/* ===== Horizontal Rule ===== */
.rule {
  margin: 10px 0;
  border: none;
  height: 1.5px;
  background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
}

/* ===== Select Box ===== */
.sel {
 font-size: 1em;
    display: block;
    margin: 0 0 12px 0;
    width: auto;
    background-color: #FDCC4C;
    position: relative;
    cursor: pointer;
    border-radius: 12px;
    color: #FFF;
    padding: 10px 10px 0px 10px;
	
	min-height: 60px;
}

.sel::before {
  position: absolute;
  content: '\f063';
  font-family: 'FontAwesome';
  font-size: 1.8em;
  color: #344763;
  right: 10px;
  top: calc(50% - 0.5em);
}

.sel.active::before {
  transform: rotateX(-180deg);
}

.sel__placeholder {
  display: block;
    font-family: 'neosan';
    font-size: 1.6em;
    color: #344763;
    padding: 0.2em 0.5em;
    text-align: left;
    pointer-events: none;
    user-select: none;
  visibility: visible;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0.5em;
  content: attr(data-placeholder);
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: calc(100% + 4px);
  left: -4px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 1.2em;
  background-color: #FFF;
  width: calc(100% + 8px);
  box-sizing: border-box;
}

.sel.active .sel__box {
  display: block;
  animation: fadeInUp 500ms;
}

.sel__box__options {
  display: list-item;
  font-family: 'neosan';
  font-size: 1em;
  color: #838e95;
  padding: 0.5em 1em;
  user-select: none;
}

.sel__box__options::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  font-size: 1em;
  margin-left: 5px;
  display: none;
	color: #344763;
}

.sel__box__options.selected::after {
  display: inline;
}

.sel__box__options:hover {
  background-color: #ebedef;
}

/* ----- Select Box Black Panther ----- */
.sel {
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
}

.sel--black-panther {
  z-index: 3;
}

/* ----- Select Box Superman ----- */
.sel--superman {
/*   display: none; */
  z-index: 2;
}

/* ===== Keyframes ===== */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
